.ajustar {
    animation: ajustar 1s ease-in-out;
  }
  
  .retrair-imagem {
    animation: retrair-imagem 1s ease-in-out;
  }
  
  .expandir-paulo {
    animation: expandir-paulo 1s ease-in-out;
  }
  
  .retrair-paulo {
    animation: retrair-paulo 1s ease-in-out;
  }
  
  .expandir-luis {
    animation: expandir-luis 1s ease-in-out;
  }
  
  .retrair-luis {
    animation: retrair-luis 1s ease-in-out;
  }
  
  .expandir-joao {
    animation: expandir-joao 1s ease-in-out;
  }
  
  .retrair-joao {
    animation: retrair-joao 1s ease-in-out;
  }
  
  .expandir-discord {
    animation: expandir-discord 1s ease-in-out;
  }
  
  .retrair-discord {
    animation: retrair-discord 1s ease-in-out;
  }
  
  @keyframes ajustar {
  
    0% {
      height: 100%;
    }
  
    100% {
      height: 200%;
    }
  
  }
  
  @keyframes retrair-imagem {
  
    0% {
      height: 200%;
    }
  
    100% {
      height: 100%;
    }
  
  }
  
  @keyframes expandir-paulo {
  
    0% {
      width: 25.4%;
      left: 25%
    }
  
    100% {
      width: 100%;
      left: 0%
    }
  
  }
  
  @keyframes retrair-paulo {
  
    0% {
      width: 100%;
      left: 0%
    }
  
    100% {
      width: 25.4%;
      left: 25%
    }
  
  }
  
  @keyframes expandir-luis {
  
    0% {
      width: 25.5%;
      left: 50.3%
    }
  
    100% {
      width: 100%;
      left: 0%
    }
  
  }
  
  @keyframes retrair-luis {
  
    0% {
      width: 100%;
      left: 0%
    }
  
    100% {
      width: 25.5%;
      left: 50.3%
    }
  
  }
  
  @keyframes expandir-joao {
  
    0% {
      width: 25.5%;
      left: 74.4%
    }
  
    100% {
      width: 100%;
      left: 0%
    }
  
  }
  
  @keyframes retrair-joao {
  
    0% {
      width: 100%;
      left: 0%
    }
  
    100% {
      width: 25.5%;
      left: 74.4%
    }
  
  }
  
  @keyframes expandir-discord {
  
    0% {
      width: 25.5%;
    }
  
    100% {
      width: 100%;
    }
  
  }
  
  @keyframes retrair-discord {
  
    0% {
      width: 100%;
    }
  
    100% {
      width: 25.5%;
    }
  
  }