ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.lista1{
    display: inline-block;
}

.lista1:hover {
    background: #333;
}

.lista1:hover .lista2 {
    display: block;
}

.lista2 {
    position: absolute;
    width: 200px;
    display: none;
}

.lista-link {
    background: #555;
    display: block;
}

.navigation-link {
    display: block !important;
}

.lista-link:hover {
    background: #666;
}