.navigation {
    display: flex;
    align-items: center;
    height: 12%;
    position: absolute;
    width: 25%;
    min-width: 240px;
    background-color: #990000;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
    padding: 0 2%;
}

.navigation__categories__login {
    justify-content: center;
    width: 20%;
    height: 70%;
    border-radius: 60px;
}

.navigation__login__icon {
    width: 50%;
    height: 50%;
}