.-loginpopup {
    display: none;
    flex-direction: column;
    position: absolute;
    color: white;
    background-color: red;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    width: 25%;
    height: 40%;
    overflow: hidden;
}

.ajustar {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ajustar h3 {
    padding: 8% 41.5%;
    font-size: 32px;
}

.input-box {
    border-bottom: 2px solid #000;
    width: 60%;
    padding: 0 0%;
    margin-left: 20%;
    margin-right: 30%;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 2% 0;
    padding-right: 10%;
    margin: 2% 0;
    color: #FFF;
}

.input-box label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 27%;
}

.input-box .senha {
    top: 45.5%;
}

.-senha {
    margin-top: 5%;
}

.icon {
    position: absolute;
    right: 22%;
    top: 35%;
}

.-password {
    top: 53%;
}

.remember-forgot {
    display: inherit;
    padding: 5% 2%;
}

.remember-forgot__space {
    margin-right: 2%;
    padding: 0 10%;
}

.remember-forgot__input {
    margin-right: 1%;
}

.remember-forgot a {
    color: gray;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 60%;
    height: 15%;
    margin: 0 20%;
    margin-bottom: 3.5%;
    border-radius: 5px;
}

.login-register {
    padding-right: 20%;
    padding-left: 20%;
}

.login-register a {
    color: gray;
}

.icon-close {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 10%;
    border-radius: 20px;
    cursor: pointer;
}