@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', cursive;
    border: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }